.mainTitle {
  padding-top: 10px;
  padding-left: 10px;
}
.done {
  text-decoration: line-through;
}
.add-task {
  margin-left: 10px;
}
.button-add-task {
  margin-left: 10px;
}
.todo-list__item {
  list-style-type: none;
  padding: 5px;
}
.сaption {
  padding-left: 10px;
}
