<ul>
  {{#each tasks as |task|}}
  <li>
    <input type="checkbox" name="items" onChange={{action "toggle"}}>
    <label>{{task.title}}</label>
    <button type="submit" onclick={{deleteTask}}>Delete</button>
</li>
  {{/each}}
</ul>
