<ul>
  {{#each tasks as |task|}}
  <li>
  <input type="checkbox" name="items">
  <label {{action "showTask" task}}>{{task.name}}</label>
  <button type="button">Delete</button>
</li>
  {{/each}}
</ul>
